html {
  background: url(./assets/bgmenu1.jpg) no-repeat center center fixed;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

/*
body {
  margin: 0;
  padding: 0;
} */

#boder-selected1 {
  border: 3px solid #000000;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50.5%;
  transform: translate(-50%, -50%);
}
#boder-selected2 {
  border: 3px solid #000000;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 18.5%;
  transform: translate(-50%, -50%);
}
#boder-selected3 {
  border: 3px solid #000000;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  right: 0.5%;
  transform: translate(-50%, -50%);
}
#play {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
}
#pause-screen {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#pause-screen-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

#pause-screen h1 {
  text-align: center;
  color: #000;
}

#high-score {
  display: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2; /* Sit on top */
  color: #000;
  font-size: 24px;
}

#choose-skin {
  display: inline;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2; /* Sit on top */
}

#health {
  display: none;
  position: fixed;
  top: 30px; /* Adjust this value as needed */
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2; /* Sit on top */
  color: #000;
  font-size: 24px;
}

#heart-icon {
  width: 24px;
  height: 24px;
}
#game-over-screen {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@font-face {
  font-family: "Pixel";
  src: url(assets/PublicPixel-E447g.ttf) format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
